{% extends "base.html" %} 

{% block title %} Xavier Evans | Portfolio {% endblock %}

{% block content %}


<h1>Welcome Page</h1>

<!--Demonstration of syntax highlighter being used. Should auto detect language.-->
<!--<pre><code>int main(){ cout << "hello world" << endl;}</code></pre>-->

<div class="container-fluid" style="margin: auto; text-align: center; justify-content: center; width: 90%; height: auto; background-color: aliceblue;">
    <div style="padding: 20px;">
    
        <div class="row" style=" padding-top: 30px; padding-bottom: 30px;">
            <div class="col">
                {% load static %}
                <img src="{% static 'grey-box.png' %}" alt="placeholder" style="border-radius: 50%; height: 200px; width: 200px;">
            </div>
            <div class="col" style="justify-content: left; text-align: left;">
                <h2>About Me</h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis eget ipsum sit amet varius. Nunc neque augue, ullamcorper in ullamcorper sed, malesuada eu nisi. Phasellus a lorem quis purus sollicitudin varius. Pellentesque in tempor velit, quis iaculis velit. Nullam vestibulum, magna vitae ultricies finibus, nibh tortor ultricies neque, quis aliquet urna lacus quis nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur euismod quis dolor ac pharetra. In vulputate, lacus eget luctus placerat, ante felis gravida ante, quis pharetra quam ex sit amet nisi. Phasellus fermentum nulla id lacus sollicitudin feugiat.
                </p>
                <a href="{% static 'resume.pdf' %}" target="_blank">Resume</a>
            </div>
        </div>
    
        <div class="row" style="padding-bottom: 30px;">
            <div class="col" style="justify-content: left; text-align: left;">
                <h2>Virtual Reality Wheelchair Rugby</h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis eget ipsum sit amet varius. Nunc neque augue, ullamcorper in ullamcorper sed, malesuada eu nisi. Phasellus a lorem quis purus sollicitudin varius. Pellentesque in tempor velit, quis iaculis velit. Nullam vestibulum, magna vitae ultricies finibus, nibh tortor ultricies neque, quis aliquet urna lacus quis nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur euismod quis dolor ac pharetra. In vulputate, lacus eget luctus placerat, ante felis gravida ante, quis pharetra quam ex sit amet nisi. Phasellus fermentum nulla id lacus sollicitudin feugiat.
                </p>
                <a href="#"><img src="{% static 'github-mark.png' %}" alt="" style="height: 30px; height: 30px;"> View Github Project</a>
    
            </div>
            <div class="col">
                <img src="{% static 'grey-box.png' %}" alt="placeholder" style="width: 550px; height: 400px;">
            </div>
        </div>
    
        <div class="row" style="padding-bottom: 30px;">
            <div class="col">
                <img src="{% static 'grey-box.png' %}" alt="placeholder" style="width: 550px; height: 400px;">
            </div>
            <div class="col" style="justify-content: left; text-align: left;">
                <h2>Sudoku Solver + Generator</h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis eget ipsum sit amet varius. Nunc neque augue, ullamcorper in ullamcorper sed, malesuada eu nisi. Phasellus a lorem quis purus sollicitudin varius. Pellentesque in tempor velit, quis iaculis velit. Nullam vestibulum, magna vitae ultricies finibus, nibh tortor ultricies neque, quis aliquet urna lacus quis nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur euismod quis dolor ac pharetra. In vulputate, lacus eget luctus placerat, ante felis gravida ante, quis pharetra quam ex sit amet nisi. Phasellus fermentum nulla id lacus sollicitudin feugiat.
                </p>
                <a href="#"><img src="{% static 'github-mark.png' %}" alt="" style="height: 30px; height: 30px;"> View Github Project</a>
    
            </div>
        </div>
    
        <div class="row" style="padding-bottom: 30px;">
            <div class="col" style="justify-content: left; text-align: left;">
                <h2>Stock Trader</h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis eget ipsum sit amet varius. Nunc neque augue, ullamcorper in ullamcorper sed, malesuada eu nisi. Phasellus a lorem quis purus sollicitudin varius. Pellentesque in tempor velit, quis iaculis velit. Nullam vestibulum, magna vitae ultricies finibus, nibh tortor ultricies neque, quis aliquet urna lacus quis nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur euismod quis dolor ac pharetra. In vulputate, lacus eget luctus placerat, ante felis gravida ante, quis pharetra quam ex sit amet nisi. Phasellus fermentum nulla id lacus sollicitudin feugiat.
                </p>
                <a href="#"><img src="{% static 'github-mark.png' %}" alt="" style="height: 30px; height: 30px;"> View Github Project</a>
    
            </div>
            <div class="col">
                <img src="{% static 'grey-box.png' %}" alt="placeholder" style="width: 550px; height: 400px;">
            </div>
        </div>
    </div>

</div>


{% endblock content %}